.btn {
	background-color: Red;
	border: none;
	color: white;
	padding: 0px 5px;
	font-size: 12px;
	cursor: pointer;
}

#swap {
display: none;
margin-top: 8px;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: FireBrick;
}

