<!DOCTYPE html>
<html>
<title>DoDiKi :(</title>
<meta name="description" content="Become a better dodik right now!"/>
<meta property="og:title" content="Sad But True :("/>
<meta property="og:description" content="Become a better dodik right now!"/>
<meta property="og:image"
      content="https://data.whicdn.com/images/85109845/original.gif"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h5 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('https://i.pinimg.com/564x/7b/48/5a/7b485a887a2e46d8a339da1a7a345e2f.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }





</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/utils.js"></script>
<body>

<template id="rehearsal-row-template">
    <tr class="(╯°□°）╯︵ ┻━┻">
        <td class="r-date"></td>
        <td class="r-weekday"></td>
        <td class="r-member"></td>
        <td>
            <button type="button" rehearsal-id="" class="btn">
                <i class="fa fa-trash"></i>
            </button>
        </td>
        <td><input type="checkbox" name="swap"
                   value=""></td>
    </tr>
</template>

<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-middle w3-jumbo">
        <h3 id="title-date">Next rehearsal at {{today.rehearsal_date}}, {{today.day_of_week}}</h3>
        <h2><b><a id="title-member"
                  href="https://soundcloud.com/roman-pobotin/sadbuttrue-wav/s-Nce4M?in=roman-pobotin/sets/sbt/s-ZlEpE#t=0:7"
                  target="_blank">{{today.member_name}}</a></b>
            will pay {{today.price}}₴ !
        </h2>
    </div>
    <div class="w3-display-topleft w3-container w3-large">
        <p>
            <button id="useful-action" class="w3-button w3-black w3-small">
                Useful
            </button>
        </p>
        <p>
            <button id="rehearsals-action" class="w3-button w3-black w3-small">
                Rehearsals
            </button>
        </p>
        <p>
            <button id="reschedule-action" class="w3-button w3-black w3-small">
                Reschedule
            </button>
        </p>
    </div>
    <div class="w3-display-bottomleft w3-container">
        <p class="w3-large">Dodiki</p>
        <p class="w3-middle">Sad But True ;(</p>
    </div>
</div>
<!-- Menu Modal -->
<div id="menu" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
            <span id="menu-close" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Payment card</h1>
        </div>
        <div class="w3-container">
            <h4>IBAN:</h4>
            <h5><span id="iban">UA023220010000026005320037612</span>
                <button onclick="copyToClipboard('#iban')"><i class="fa fa-copy"></i></button>
            </h5>
            <h4>ЄДРПОУ:</h4>
            <h5><span id="edr">3224421492</span>
                <button onclick="copyToClipboard('#edr')"><i class="fa fa-copy"></i></button>
            </h5>
            <h4>Отримувач:</h4>
            <h5><span id="receiver">Рябчук Юрій Миколайович</span>
                <button onclick="copyToClipboard('#receiver')"><i class="fa fa-copy"></i></button>
            </h5>
            <h4>Призначення:</h4>
            <h5><span id="reason">за репетицію {{today.rehearsal_date}}</span>
                <button onclick="copyToClipboard('#reason')"><i class="fa fa-copy"></i></button>
            </h5>
            <h4><label class="w3-text-red">{{today['price']}} UAH</label></h4>
        </div>
        <div class="w3-container w3-black">
            <h1>Links</h1>
        </div>
        <div class="w3-container">
            <h5><a href="https://trello.com/b/Ngqfwzmp/dodiki-songs-2nd-round" target="_blank">Trello</a></h5>
            <h5><a href="https://docs.google.com/spreadsheets/d/1gvibnMG0cB0v6U7yZuTWwsCiDXwUK_InQiAgTajrSrY/edit#gid=0"
                   target="_blank">Excel</a></h5>
        </div>
        <div class="w3-container w3-black">
            <h1>Checkpoint calendar</h1>
        </div>
        <div class="w3-container w3-margin-top">
            <iframe src="https://calendar.google.com/calendar/embed?title=%D0%93%D1%80%D0%B0%D1%84%D1%96%D0%BA%20%D1%80%D0%B5%D0%BF%D0%B5%D1%82%D0%B8%D1%86%D1%96%D0%B9%D0%BD%D0%BE%D1%97%20%D0%B1%D0%B0%D0%B7%D0%B8%20Checkpoint&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=uk&amp;bgcolor=%23ff9900&amp;src=mustar.du%40gmail.com&amp;color=%231badf8&amp;src=772btv7tia9ngbcvrgaj09609s%40group.calendar.google.com&amp;color=%230D7813&amp;ctz=Europe%2FKiev"
                    style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"
                    padding="10px"></iframe>
        </div>
    </div>
</div>
<!-- Rehearsals Modal -->
<div id="rehearsals" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span id="rehearsals-close" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Rehearsals</h1>
        </div>
        <div class="w3-container">
            <div class="w3-container">
                <div class="w3-left">
                    <p>List of planned rehearsals:</p>
                </div>
                <div class="w3-right">
                    <button id="swap" type="button" class="w3-button w3-green">↑↓</button>
                </div>
            </div>
            <table id="rehearsals-table" class="w3-table w3-bordered w3-centered">
                <tr>
                    <th>Date</th>
                    <th>Weekday</th>
                    <th>Who will pay</th>
                    <th>Cancel</th>
                    <th>Swap</th>
                </tr>
                {% for rehearsal in rehearsals %}
                <tr class="(╯°□°）╯︵ ┻━┻">
                    <td>{{rehearsal.rehearsal_date}}</td>
                    <td>{{rehearsal.day_of_week}}</td>
                    <td>{{rehearsal.member_name}}</td>
                    <td>
                        <button type="button" rehearsal-id="{{rehearsal.rehearsal_id}}" class="btn">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td><input type="checkbox" name="swap" rehearsal-id="{{rehearsal.rehearsal_id}}"
                               value="{{rehearsal.rehearsal_id}}"></td>
                </tr>
                {% endfor %}
            </table>
            <!--            </form>-->
        </div>
    </div>
</div>
<!-- Execute Modal -->
<div id="execute" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span id="execute-close" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Reschedule</h1>
        </div>
        <div class="w3-container">
            <p class="w3-large">Generate new rehearsals schedule:</p>
            <p class="w3-medium">Who will pay?</p>
            <p>
                <select name="member" required>
                    {% for member in members %}
                    <option value="{{member.member_id}}">{{member.name}}</option>
                    {% endfor %}
                </select>
            </p>
            <hr>
            <p class="w3-medium">Half turn?</p>
            <small>(Disabled for now cause only 1 rehearsal per week)</small>
            <p><input class="w3-input w3-padding-16 w3-border w3-check" disabled type="checkbox" name="half">
            </p>
            <hr>
            <p class="w3-medium">Date from?</p>
            <p><input class="w3-input w3-padding-16 w3-border" type="date" placeholder="Date" required name="date"
                      value="{{today.rehearsal_date}}"></p>
            <p>
                <button id="generate-list-action" class="w3-button w3-green" type="button">Generate list</button>
            </p>
        </div>
    </div>
</div>
<div id="overlay" class="overlay">
    <div class="rotation-container">
        <div class="rotating">:(:</div>
    </div>
</div>
<script src="static/js/main.js"></script>

</body>
</html>
